apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  namespace: pyro-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: mniranjanr7/nodeapp:${IMAGE_TAG}
          ports:
            - containerPort: 80
              name: nginx-http
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
  namespace: pyro-dev
spec:
  type: NodePort
  selector:
    app: nginx
  ports:
    - port: 80
      targetPort: 80
